#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* .hideMenuNav */
.hideMenuNav {
  @apply hidden;
}

/* .showMenuNav */
.showMenuNav {
  @apply absolute w-full h-screen top-0 left-0 bg-white z-10 flex flex-col justify-evenly items-center;
}
